.sci-tiny {
  font-size: 0.5em;
}

.sci-scriptsize {
  font-size: 0.7em;
}

.sci-footnotesize {
  font-size: 0.8em;
}

.sci-small {
  font-size: 0.9em;
}

.sci-normalsize {
  font-size: 1em;
}

.sci-large {
  font-size: 1.2em;
}

.sci-Large {
  font-size: 1.5em;
}

.sci-LARGE {
  font-size: 1.75em;
}

.sci-huge {
  font-size: 2em;
}

.sci-Huge {
  font-size: 2.5em;
}

.sci-1x {
  font-size: 1em;
}

.sci-2x {
  font-size: 2em;
}

.sci-3x {
  font-size: 3em;
}

.sci-4x {
  font-size: 4em;
}

.sci-5x {
  font-size: 5em;
}

.sci-6x {
  font-size: 6em;
}

.sci-7x {
  font-size: 7em;
}

.sci-8x {
  font-size: 8em;
}

.sci-9x {
  font-size: 9em;
}

.sci-10x {
  font-size: 10em;
}

.sci-2xs {
  font-size: 0.625em;
  line-height: 0.1em;
  vertical-align: 0.225em;
}

.sci-xs {
  font-size: 0.75em;
  line-height: 0.08333em;
  vertical-align: 0.125em;
}

.sci-sm {
  font-size: 0.875em;
  line-height: 0.07143em;
  vertical-align: 0.05357em;
}

.sci-lg {
  font-size: 1.25em;
  line-height: 0.05em;
  vertical-align: -0.075em;
}

.sci-xl {
  font-size: 1.5em;
  line-height: 0.04167em;
  vertical-align: -0.125em;
}

.sci-2xl {
  font-size: 2em;
  line-height: 0.03125em;
  vertical-align: -0.1875em;
}
